<div class="insertArea">
  <app-button
    n_bg_color="transparent"
    n_color="white"
    h_bg_color="#666565"
    h_color="white"
    text="顯示"
    layout_text="column"
    setting="w-100 up"
    icon_text="left_arrow"
    (btnClick) = "show()"
    ></app-button>
    <app-button
    n_bg_color="transparent"
    n_color="white"
    h_bg_color="#666565"
    h_color="white"
    text="回縮"
    layout_text="column"
    setting="w-100 up"
    icon_text="left_arrow"
    (btnClick) = "noshow()"
    ></app-button>
</div>
