<div class="insertArea">
  <app-basic-button
    n_bg_color="transparent"
    n_color="white"
    h_bg_color="#666565"
    h_color="white"
    text="文字"
    layout_text="column"
    setting="w-100 up"
    pic_src="../../assets/picture/text.png"
    [pic_size] = "['35px', '35px']"
    (btnClick) = "show('text')"
    ></app-basic-button>
    <app-basic-button
    n_bg_color="transparent"
    n_color="white"
    h_bg_color="#666565"
    h_color="white"
    text="圖片"
    layout_text="column"
    setting="w-100 up"
    icon_text="pic_image"
    icon_size="35px"
    (btnClick) = "show('picture')"
    ></app-basic-button>
</div>
