<app-basic-obj
[templateRef]='childTemplate'
[showResize] = showResize
[canResize] = canResize
[curWidth] = curWidth
[curHeight] = curHeight
[curX] = curX
[curY] = curY
[paperClass] = paperClass
[dragDisabled] = dragDisabled
[type] = type
[page] = page
(mouseOver) = "onMouseOver($event)"
>
</app-basic-obj>
<ng-template #childTemplate>
  <!-- [(ngModel)]="model" -->
  <!-- contenteditable = true -->
  <div
  contenteditable = true
  class="text_node"
  >
  <!-- <span>a</span>
  <span>b</span>
  <span>c</span>
  <div><span>d</span></div> -->
  <!-- <div class="line" contenteditable = true></div> -->
  </div>
</ng-template>
