.text_node {
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  padding:10px;
  z-index: 2;

  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

