.object {
  z-index: 1;
  position: absolute;

  border: 1px solid black;
}

.resizeGroup {
  position: relative;
  width:100%;
  height:100%;
}

/* resize */

.handleNode {
  width: 100%;
  height: 100%;
}

.handleNode:after {
  content: "";
  height:12px;
  width: 12px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(57 76 96 / 15%), 0 0 0 1px rgb(53 71 90 / 20%);
  background: white;
}

.resize-e {
  position: absolute;
  cursor: e-resize;
  height: 100%;
  width: 26px;
  right: -20px;
  top: 0;
}

.resize-e > .handleNode:after {
  top:50%;
  left:0;

  transform: translateY(-50%);
}

.resize-se {
  position:absolute;
  cursor: se-resize;
  height: 26px;
  width: 26px;
  right: -20px;
  bottom: -20px;
}

.resize-se > .handleNode:after {
  top:2px;
  left:2px;
}

.resize-s {
  position:absolute;
  cursor: s-resize;
  height: 26px;
  width: 100%;
  bottom: -20px;
  left: 0;
}

.resize-s > .handleNode:after {
  top:0;
  left:50%;
  transform: translateX(-50%);
}


.resize-sw {
  position:absolute;
  cursor: sw-resize;
  width: 26px;
  height: 26px;
  bottom: -20px;
  left: -20px;
}

.resize-sw > .handleNode:after {
  top:2px;
  right:2px;
}

.resize-w {
  position:absolute;
  cursor: w-resize;
  height: 100%;
  width: 26px;
  left: -20px;
  top: 0;
}

.resize-w > .handleNode:after {
  top:50%;
  right:0;
  transform: translateY(-50%);
}

.resize-nw {
  position:absolute;
  cursor: nw-resize;
  width: 26px;
  height:26px;
  top: -20px;
  left: -20px;
}

.resize-nw > .handleNode:after {
  bottom:2px;
  right:2px;
}

.resize-n {
  position:absolute;
  cursor: n-resize;
  height: 26px;
  width: 95%;
  top: -20px;
  left: 0;
}

.resize-n > .handleNode:after {
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}

.resize-ne {
  position:absolute;
  cursor: ne-resize;
  width: 26px;
  height: 26px;
  top: -20px;
  right: -20px;
}

.resize-ne > .handleNode:after {
  bottom:2px;
  left:2px;
}
