button {
  border: 0;
  padding: 10px 20px;
}

button:hover {
  background-color: #fff;
}

fa-icon {
  vertical-align: middle;
}

.left > fa-icon {
  padding: 0px 10px 0px 0px;
}

.up > fa-icon {
  padding: 0px 0px 10px 0px;
}
