<h2 mat-dialog-title>新增文字造型群組</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label>造型群組名稱</mat-label>
    <input type="input" matInput [formControl]="fm_control" [errorStateMatcher]="matcher" required>
    <mat-error *ngIf="changeSaveDisable()[0]">
      此欄位<strong>必填</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>字型選擇</mat-label>
    <mat-select [(value)]="curFamily">
      <mat-option
      *ngFor="let item of font_family_list| slice:1; index as i" value= "{{item}}"
      [ngStyle] = "{'font-family': item}"
      >
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>文字大小</mat-label>
    <input type="number" [(ngModel)]="curSize" [formControl]="fm_control1" [errorStateMatcher]="matcher1" required matInput>
    <mat-error *ngIf="changeSaveDisable()[1]">
      此欄位<strong>必填</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <app-color-picker
  (colorChange) = "changeFontColor($event)"
  ></app-color-picker>
  <br>
  <br>
  <span class="sm_title">文字造型預覽</span>
  <mat-card class="card_m">
    <mat-card-content [ngStyle]="getFontStyles()">測試Test123</mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="disable" cdkFocusInitial>儲存更改</button>
</mat-dialog-actions>
