<app-document-header-area></app-document-header-area>
<div class="down_area" fxLayout="row" fxLayoutAlign="start none">
  <app-document-insert-area
  (chooseOpen)="toggleChooseArea($event)"
  ></app-document-insert-area>
  <app-document-choose-area [@slideInOut]="{value: chooseAreaState, params:{max_width: '312px'}} " style="overflow: hidden;"></app-document-choose-area>
  <app-document-main-area
  [@mainSlideInOut]="{value: chooseAreaState, params:{max_width:  documentMainMaxW+'px' , min_width: documentMainMinW+'px'}} "
  ></app-document-main-area>
</div>
