<app-document-header-area></app-document-header-area>
<div class="down_area" fxLayout="row" fxLayoutAlign="start none">
  <app-document-insert-area
  (chooseOpen)="toggleChooseArea($event)"
  ></app-document-insert-area>
  <div class="choose_area" [@slideInOut]="{value: chooseAreaState, params:{max_width: '312px'}} " style="overflow-x: hidden;">
    <app-document-choose-area class="part" [ngStyle]="{'display': chooseDisplay}"></app-document-choose-area>
    <app-document-main-style-area class="part" [ngStyle]="{'display': styleDisplay}"></app-document-main-style-area>
  </div>
  <div class="document" [@mainSlideInOut]="{value: chooseAreaState, params:{max_width:  documentMainMaxW+'px' , min_width: documentMainMinW+'px'}} ">
    <app-document-style-area (styleOpen)="toggleStyleArea($event)" ></app-document-style-area>
    <app-document-main-area></app-document-main-area>
  </div>
</div>
